<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUTEVIK - Диспетчеры</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-brand">PUTEVIK</div>
        <div class="sidebar-menu">
            <div class="sidebar-item active" data-section="tasks">Маршрутные листы</div>
            <div class="sidebar-item" data-section="drivers">Водители</div>
            <div class="sidebar-item" data-section="vehicles">Транспортные средства</div>
            <div class="sidebar-item" data-section="clients">Клиенты</div>
            <div class="sidebar-item" data-section="dispatchers">Диспетчеры</div>
            <div class="sidebar-item collapsible" data-toggle="reports">Отчёты</div>
            <div class="submenu" data-target="reports">
                <div class="sidebar-subitem" data-section="driverReports">Водители</div>
                <div class="sidebar-subitem" data-section="vehicleReports">Транспортные средства</div>
                <div class="sidebar-subitem" data-section="routeReports">Маршрутные листы</div>
            </div>

            <div class="sidebar-item collapsible" data-toggle="logs">Журналы</div>
            <div class="submenu" data-target="logs">
                <div class="sidebar-subitem" data-section="vehicleLog">Журнал эксплуатации ТС</div>
                <div class="sidebar-subitem" data-section="routeLog">Журнал маршрутных листов</div>
            </div>

        </div>
    </div>

    <form th:action="@{/logout}" method="post" class="sidebar-bottom">
        <button type="submit" class="sidebar-item logout-btn">Выйти из аккаунта</button>
    </form>
</div>

<p class="username-overlay" ><strong th:text="${username}"></strong></p>
<div class="main-content">
    <div>
        <h2>Маршрутный лист №<span id="task-number">Загрузка...</span></h2>
        <button class="btn-primary" onClick="handleAddSubtask(taskId)" style="margin-bottom: 10px;">Добавить точку маршрута</button>
    </div>

    <div class="d-flex gap-3 mb-3">

        <div class="flex-fill">
            <label for="driverSelect" class="form-label">Водитель</label>
            <select class="form-select" id="driverSelect">
            </select>
        </div>

        <div class="flex-fill">
            <label for="vehicleSelect" class="form-label">Транспортное средство</label>
            <select class="form-select" id="vehicleSelect">
            </select>
        </div>

        <div class="flex-fill">
            <label for="statusSelect" class="form-label">Статус</label>
            <select class="form-select" id="statusSelect">
            </select>
        </div>

    </div>

    <table class="table table-bordered table-hover mt-3">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Статус</th>
            <th>Время выгрузки</th>
            <th>Адрес доставки</th>
            <th>ЮР.лицо</th>
            <th>Номер телефона</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody id="subtask-table-body">
        </tbody>
    </table>
</div>

<script src="/js/routelist.js"></script>
<script src="/js/updateforms.js"></script>
<script src="/js/createforms.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
