<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUTEVIK - Диспетчеры</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.10/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.10/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>
<body>
<div class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-brand">PUTEVIK</div>
        <div class="sidebar-menu">
            <div class="sidebar-item active" data-section="tasks">Маршрутные листы</div>
            <div class="sidebar-item" data-section="drivers">Водители</div>
            <div class="sidebar-item" data-section="vehicles">Транспортные средства</div>
            <div class="sidebar-item" data-section="clients">Клиенты</div>
            <div class="sidebar-item" data-section="dispatchers">Диспетчеры</div>
            <div class="sidebar-item collapsible" data-toggle="reports">Отчёты</div>
            <div class="submenu" data-target="reports">
                <div class="sidebar-subitem" data-section="driverReports">Водители</div>
                <div class="sidebar-subitem" data-section="vehicleReports">Транспортные средства</div>
                <div class="sidebar-subitem" data-section="routeReports">Маршрутные листы</div>
            </div>

            <div class="sidebar-item" data-section="routeLog">Журнал маршрутных листов</div>
        </div>
    </div>

    <form th:action="@{/logout}" method="post" class="sidebar-bottom">
        <button type="submit" class="sidebar-item logout-btn">Выйти из аккаунта</button>
    </form>
</div>

<p class="username-overlay" >Пользователь: <strong th:text="${username}"></strong></p>
<div class="main-content">
</div>

<script src="/js/scripts.js"></script>
<script src="/js/updateforms.js"></script>
<script src="/js/createforms.js"></script>
<script src="/js/pdfandexcelexport.js"></script>
<script src="/js/reports.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
</body>
</html>
